body {
	background-color: #e0e0e0;
    overflow-x: hidden;

}
  .navbar {
      margin-left:30%;
      border-radius: 0;
          background: #fff;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 64px;
    padding: 0 1em;
    position: relative;
    width: 100%;
}
    }
    
    #mid{
    	background-color: white;
    	margin-left: 20%;
    }
        .row.content {
    height: 855px;
    background-color: white;
}
    
 
 
    
   